/*
 * Empty Stylesheet file.
 */

#PaneSeparacion {
    -fx-background-color: #D3D3D3;
}

.mainFxmlClass {
    -fx-background-color: #ffffff;
}

.button {
    -fx-background-color:  #1FCE7D;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.check-box:selected .mark{
    -fx-background-color: white;
}

.check-box:selected .box{
    -fx-background-color: #1FCE7D;
}

#lblTitulo1{
    -fx-font-weight: bold;
}

#lblTitulo2{
    -fx-font-weight: bold;
}